body {
  font-family: "Roboto", sans-serif; }

a:focus {
  text-decoration: none;
  outline: none; }

.block:not(#main) {
  position: relative;
  z-index: 1;
  background-size: cover; }

.hiddenA {
  opacity: 0; }

.visible {
  opacity: 1; }

.down {
  position: relative;
  top: -25px;
  z-index: 2; }
  .down a {
    width: 50px;
    position: relative;
    left: calc(50% - 25px);
    height: 50px;
    background-size: cover;
    display: block; }

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  top: calc(50% - 60px);
  z-index: 5;
  text-align: right; }
  .menu a {
    cursor: context-menu;
    color: #bdc3c7;
    transition: 0.3s; }
    .menu a:hover {
      color: #ff9d00;
      transition: 0.3s;
      text-decoration: none; }
    .menu a.active {
      color: #ff9d00; }
  .menu i {
    margin: 5px 0;
    cursor: pointer; }

#main {
  background: url("/web/img/bg4.jpg");
  color: #fefefe;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }
  #main .main-info {
    flex-grow: 0.5;
    border-right: 1px solid; }
    #main .main-info h1 {
      font-weight: 300;
      margin: 15px 0 15px 0;
      font-size: 54px;
      text-align: center; }
    #main .main-info p {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 300;
      text-align: center;
      color: #ececec; }
    #main .main-info img {
      height: 140px;
      display: block;
      margin: 0 auto; }
    #main .main-info > a {
      color: #ffffff;
      border: 2px solid;
      display: block;
      width: 240px;
      border-radius: 40px;
      text-align: center;
      padding: 10px 30px;
      font-size: 16px;
      background: transparent;
      font-weight: 300;
      text-transform: uppercase;
      transition: 0.3s;
      margin: 15px auto; }
      #main .main-info > a:hover {
        text-decoration: none;
        color: #fff;
        border-color: #f39c12;
        background: #f39c12;
        transition: 0.3s; }
    #main .main-info .socials {
      text-align: center; }
      #main .main-info .socials a {
        font-size: 28px;
        margin: 0 20px;
        color: #fff;
        transition: 0.3s; }
        #main .main-info .socials a:hover {
          color: #f39c12;
          transition: 0.3s; }

#about {
  padding-bottom: 30px; }
  #about h1 {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 20px 0 10px 0;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase; }
  #about h3 {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    color: #313131;
    margin: 0; }
  #about small {
    text-align: center;
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 95%;
    color: #6e6e6e; }
  #about .about {
    margin-top: 25px; }
    #about .about .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    #about .about .about-icons {
      width: 85%; }
      #about .about .about-icons ul {
        list-style: none;
        text-align: center;
        padding: 0;
        display: flex;
        flex-wrap: wrap; }
        #about .about .about-icons ul li {
          width: 33.3333%;
          background: #f7f7f7;
          border: 5px solid #fff;
          padding: 30px 0; }
          #about .about .about-icons ul li span {
            font-weight: 300;
            color: #6e6e6e;
            display: block;
            font-size: 14px;
            padding: 0 20px;
            text-align: center; }
          #about .about .about-icons ul li h5 {
            font-size: 20px;
            padding: 10px 0;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            border-top: 1px solid #d6d6d6; }
          #about .about .about-icons ul li i {
            color: #ff9d00;
            font-size: 40px;
            margin-bottom: 10px; }

#equipment {
  box-shadow: 0 0 72px 0 rgba(0, 0, 0, 0.2);
  background-image: url("/web/img/equipment.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #equipment .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #equipment .equipment-info {
    padding: 100px 0;
    flex-grow: 0.5;
    text-align: center; }
  #equipment .equipment {
    display: flex;
    justify-content: space-between; }
  #equipment h3 {
    color: #fffff3;
    font-weight: 300;
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 15px; }
  #equipment small {
    font-size: 18px;
    color: #fffff3;
    display: block;
    margin-bottom: 50px;
    font-weight: 300; }
  #equipment ul {
    margin: 0;
    color: #fffff3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 20%; }
    #equipment ul li {
      cursor: pointer; }
      #equipment ul li i {
        font-style: normal;
        font-size: 30px;
        font-weight: 300;
        display: block;
        width: 46px;
        margin: 0 auto;
        color: #fff;
        border: 2px solid;
        border-radius: 50px;
        transition: 0.3s; }
        #equipment ul li i.active {
          color: #ff9d00;
          transition: 0.3 s; }
      #equipment ul li h4 {
        font-weight: 400;
        font-size: 24px; }
      #equipment ul li p {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center; }
  #equipment .equipment-img {
    align-self: center;
    width: 500px;
    height: 250px;
    text-align: center;
    position: relative; }
    #equipment .equipment-img i {
      position: absolute;
      font-size: 32px;
      font-style: normal;
      cursor: pointer;
      font-weight: 100;
      z-index: 5;
      color: #fff;
      border: 3px solid;
      border-radius: 50px;
      width: 50px;
      transition: 0.3s; }
      #equipment .equipment-img i.active {
        color: #ff9d00;
        transition: 0.3s; }
      #equipment .equipment-img i:first-child {
        top: 96px;
        left: 100px; }
      #equipment .equipment-img i:nth-child(2) {
        top: 40px;
        left: 315px; }
      #equipment .equipment-img i:nth-child(3) {
        top: 160px;
        left: 315px; }
      #equipment .equipment-img i:nth-child(4) {
        top: 44px;
        left: 445px; }
      #equipment .equipment-img i:nth-child(5) {
        top: 128px;
        left: 445px; }
      #equipment .equipment-img i:nth-child(6) {
        top: 195px;
        left: 445px; }
      #equipment .equipment-img i.first-column {
        font-size: 40px;
        width: 60px; }
      #equipment .equipment-img i.third-column {
        font-size: 20px;
        width: 34px; }
      #equipment .equipment-img i:hover {
        color: #ff9d00;
        transition: 0.2s; }

@keyframes move {
  from {
    width: 0px; }
  to {
    width: 200px; } }
#products {
  background: #f3f3f3; }
  #products h1 {
    color: #000;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0;
    padding: 20px 0 10px 0;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase; }
  #products > span {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    color: #313131;
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }
  #products .products {
    display: flex;
    background: transparent;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px; }
    #products .products .product {
      display: flex;
      box-shadow: 0 0 72px 0 rgba(0, 0, 0, 0.15); }
      #products .products .product.reverse {
        flex-direction: row-reverse; }
      #products .products .product:nth-child(2n) h3 {
        text-align: right; }
      #products .products .product:nth-child(2n) span {
        text-align: right; }
      #products .products .product:nth-child(2n) .colors {
        left: 15px; }
      #products .products .product .product-image {
        width: 50%; }
        #products .products .product .product-image img {
          width: 100%;
          height: 100%; }
      #products .products .product .product-info {
        width: 50%;
        padding: 20px;
        background: #fffff3;
        position: relative; }
        #products .products .product .product-info .colors {
          position: absolute;
          top: 35px;
          right: 15px; }
          #products .products .product .product-info .colors i {
            font-size: 25px;
            margin: 0 5px;
            cursor: pointer; }
        #products .products .product .product-info h3 {
          font-weight: 400;
          padding: 10px 0;
          font-size: 28px;
          margin: 0;
          border-bottom: 1px solid; }
        #products .products .product .product-info > span {
          margin-top: 15px;
          display: block;
          font-weight: 300; }
        #products .products .product .product-info button {
          position: relative;
          display: block;
          margin: 15px auto;
          width: 200px;
          font-size: 18px;
          color: #fff;
          font-weight: 300;
          text-transform: uppercase;
          background: #f39c13;
          border: none;
          padding: 7px; }
          #products .products .product .product-info button span {
            position: relative; }
          #products .products .product .product-info button:before {
            content: "";
            position: absolute;
            top: 0px;
            display: block;
            left: 0px;
            height: 39px;
            width: 0px;
            background: #e67e22;
            animation-duration: 1s;
            -webkit-animation-name: move;
            -moz-animation-name: move;
            -o-animation-name: move;
            animation-name: move; }
          #products .products .product .product-info button:focus {
            outline: none; }

#gallery {
  min-height: calc(100vh - 50px);
  background: #473129;
  width: 100%; }

.gallery {
  overflow: hidden; }
  .gallery .colors {
    width: 100%;
    top: -60px;
    margin-top: -50px;
    z-index: 2;
    float: left;
    text-align: center; }
    .gallery .colors span {
      -webkit-filter: grayscale(40%);
      -ms-filter: grayscale(40%);
      -moz-filter: grayscale(40%);
      padding: 15px 24px;
      background: #fff;
      border-radius: 30px;
      margin: 0 20px;
      cursor: pointer;
      background-size: cover; }
  .gallery h1 {
    position: absolute;
    z-index: 5;
    text-align: center;
    color: #fff;
    left: calc(50% - 65px);
    font-weight: 300;
    padding: 20px 0 10px 0; }
  .gallery .item-info {
    position: absolute;
    z-index: 5;
    background: rgba(255, 255, 255, 0.6);
    padding: 25px;
    width: 30%;
    right: 10%;
    top: 23%; }
    .gallery .item-info h3 {
      font-size: 28px;
      margin-top: 10px;
      border-bottom: 1px solid rgba(28, 28, 28, 0.45);
      padding-bottom: 10px;
      text-transform: capitalize; }
      .gallery .item-info h3 b {
        font-weight: 400; }
      .gallery .item-info h3 i {
        font-style: normal;
        font-weight: 100; }
    .gallery .item-info a {
      color: #B0813D;
      border: 1px solid;
      padding: 5px 20px;
      font-size: 18px;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      transition: 0.3s; }
      .gallery .item-info a:hover {
        text-decoration: none;
        transition: 0.3s;
        color: #d35401; }
    .gallery .item-info p {
      margin-bottom: 15px;
      font-weight: 300; }
  .gallery img.arrow {
    position: absolute;
    z-index: 5;
    width: 50px;
    cursor: pointer;
    top: calc(50% - 25px); }
  .gallery img.arrow-right {
    right: 20px; }
  .gallery img.arrow-left {
    left: 20px; }
  .gallery .slider {
    position: relative;
    overflow: hidden;
    width: 150000px; }
    .gallery .slider section {
      width: 100vw;
      min-height: calc(100vh);
      float: left;
      background-size: cover;
      background-position: 50%;
      transition: 1s; }

#more {
  box-shadow: 0 0 72px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  background: url("/web/img/more.jpg");
  background-attachment: fixed; }
  #more h1 {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 20px 0 10px 0;
    font-weight: 300;
    font-size: 36px;
    text-transform: uppercase; }
  #more span {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    color: #313131;
    display: block;
    margin-bottom: 20px; }
  #more .more-form-info {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    #more .more-form-info > div.moreForm-phones {
      align-self: flex-start;
      background: rgba(255, 255, 243, 0.8);
      padding: 25px 20px; }
      #more .more-form-info > div.moreForm-phones h3 {
        margin: 0;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
        font-weight: 400;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        border-bottom: 1px solid #b7b7b7; }
      #more .more-form-info > div.moreForm-phones li {
        margin: 15px 0;
        position: relative;
        font-size: 20px;
        font-weight: 300;
        text-align: center; }
        #more .more-form-info > div.moreForm-phones li i {
          color: #f39c12;
          font-size: 20px; }
    #more .more-form-info b {
      display: block;
      font-weight: 100;
      font-size: 50px;
      padding: 30px 15px;
      border-radius: 113px;
      text-transform: uppercase;
      color: #ffffff;
      background: #f39c12; }
  #more form {
    background: rgba(243, 243, 243, 0.8);
    padding: 10px  20px;
    width: 33.3%; }
    #more form .form-group.has-success input, #more form .form-group.has-success textarea {
      border: 1px solid #27ae60; }
    #more form .form-group.has-error input, #more form .form-group.has-error textarea {
      border: 1px solid #c0392b; }
    #more form h3 {
      margin: 0;
      font-weight: 400;
      text-align: center;
      padding: 10px;
      font-size: 22px; }
    #more form input {
      background: #fffff3;
      width: 100%;
      font-weight: 300;
      margin: 5px 0;
      font-size: 16px;
      padding: 10px 10px;
      border: 1px solid #ffffff;
      transition: 0.3s;
      border-radius: 0;
      box-shadow: none;
      height: auto; }
      #more form input:focus {
        outline: none;
        border: 1px solid #f39c12;
        transition: 0.3s; }
    #more form input[type="submit"], #more form button[type="submit"] {
      background: #f39c12;
      color: #fff;
      margin-top: 10px;
      border: none; }
  #more textarea {
    background: #fffff3;
    font-weight: 300;
    max-width: 100%;
    min-width: 100%;
    margin: 5px 0;
    font-size: 16px;
    padding: 10px 10px;
    border: 1px solid #ffffff;
    transition: 0.3s; }
    #more textarea:focus {
      outline: none;
      border: 1px solid #f39c12;
      transition: 0.3s; }

footer {
  position: relative;
  background: #222222; }
  footer .footer_icons {
    height: 70px;
    padding: 20px 0;
    text-align: center; }
    footer .footer_icons i {
      color: #fff;
      font-size: 25px;
      margin: 0 15px;
      cursor: pointer; }
  footer span {
    color: #fffff3;
    position: absolute;
    z-index: 4;
    bottom: 2px;
    left: calc(50% - 40px);
    font-weight: 300; }

.popup {
  width: 100%;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  opacity: 0; }
  .popup .popup-feedback {
    width: 300px;
    margin: 0 auto;
    position: relative;
    align-self: center;
    background: #fff;
    padding: 25px 20px; }
    .popup .popup-feedback .form-group {
      margin: 0; }
      .popup .popup-feedback .form-group.has-success input, .popup .popup-feedback .form-group.has-success select {
        border: 1px solid #27ae60; }
      .popup .popup-feedback .form-group.has-error input, .popup .popup-feedback .form-group select input {
        border: 1px solid #c0392b; }
    .popup .popup-feedback h3 {
      text-align: center;
      margin: 10px 0;
      font-size: 28px;
      font-weight: 400; }
    .popup .popup-feedback .popup-selection {
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      .popup .popup-feedback .popup-selection select {
        border: 1px solid #eaeaea;
        font-size: 16px;
        margin: 10px 0;
        cursor: pointer;
        padding: 7px 5px;
        width: 100%;
        border-radius: 0; }
        .popup .popup-feedback .popup-selection select:first-child {
          margin-top: 0; }
        .popup .popup-feedback .popup-selection select:focus {
          outline: 1px solid #f39c12; }
    .popup .popup-feedback span {
      display: block;
      text-align: center;
      margin-bottom: 5px;
      color: #f39c12; }
      .popup .popup-feedback span.success {
        color: #27ae60; }
    .popup .popup-feedback input {
      background: #f3f3f3;
      width: 100%;
      font-weight: 300;
      font-size: 16px;
      padding: 10px 10px;
      border: 1px solid #ffffff;
      transition: 0.3s; }
      .popup .popup-feedback input:focus {
        outline: none;
        border: 1px solid #f39c12;
        transition: 0.3s; }
      .popup .popup-feedback input#button {
        background: #f39c12;
        color: #fff; }

.countdown-container {
  max-width: 50%; }
  .countdown-container h2 {
    font-weight: 100;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px; }
  .countdown-container a {
    color: #fffff3;
    font-weight: 100;
    font-size: 18px;
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 240px;
    border: 2px solid;
    padding: 10px 30px;
    border-radius: 40px;
    transition: 0.3s; }
    .countdown-container a:hover {
      text-decoration: none;
      transition: 0.3s;
      color: #fff;
      border-color: #f39c12;
      background: #f39c12; }

.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }

.clock-canvas {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%; }

.text {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 100%; }

.text .val {
  font-size: 48px;
  font-weight: 100;
  margin: 0; }

.text .type-time {
  font-size: 16px;
  font-weight: 400; }

@media (min-width: 768px) and (max-width: 991px) {
  .clock-item {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .clock-item {
    margin: 0px 30px 30px 30px; } }

/*# sourceMappingURL=style.css.map */
